body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

#lista-tarefas {
  list-style-position: inside;
}

.selected {
  background-color: rgb(240, 229, 171);
}

.completed {
  text-decoration: line-through;
}

.tarefa{
  width: fit-content;
}
